@model IEnumerable<MovieCatalogue.BLL.Models.MovieVM>


@{
    ViewData["Title"] = "Index";
}

@if (@TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["SuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!User.IsInRole("Admin"))
{
    <h1 class="display-4">Stream a List Of Our Top Movies</h1>
}
else
{
    <h1 class="display-4">Available Movies</h1>
}

<section class="Search-bar">
    <form>
        <input type="text" placeholder="Example: Avengers EndGame" class="form-control">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="New" class="btn btn-primary">Create New</a>
    </p>
}

<section class="movies">


    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in @Model)
        {
            <div class="col">
                <div class="card">

                    <img src="@item.ImageUrl" class="img-fluid" alt="Image" width="200" height="200" />


                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <h5 class="card-text">@item.Genre</h5>
                        <h5 class="card-text">@item.Rating</h5>
                        <h5 class="card-text">@item.Review</h5>
                        <h5 class="card-text">@item.ReleaseDate</h5>

                        <a href="@item.ImdbUrl" class="btn btn-primary">Visit Site</a>

                    </div>
                    @if (User.IsInRole("Admin"))
                     {
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark"> Details </a> 
                            <a asp-action="DeleteConfirm" asp-route-id="@item.Id" class="btn btn-danger"> Delete </a>

                        </div>

                     }

                </div>
            </div>
        }

    </div>

</section>



